      <div class="collapse navbar-collapse" id="navbarNav">
        <table>
          <tr>
          <td><a class="nav-link" routerLink="/addproject" (click)="changeClass($event)">Add Project</a> </td>
          <td><a class="nav-link" routerLink="/addtask" (click)="changeClass($event)">Add Task</a> </td>
          <td> <a class="nav-link" routerLink="/adduser" (click)="changeClass($event)"> Add User</a></td>
          <td> <a class="nav-link" routerLink="/viewtask" (click)="changeClass($event)"> View Task</a></td>
    </tr>
    </table>
  </div>